@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;1,600&display=swap");
* {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: bold;
}
body {
  font-size: 18px;
  background: linear-gradient(30deg, #17001a, #1a0000);
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ffffff;
  justify-content: center;
}
.container {
  transition: all 1s ease;
  width: 65%;
  padding: 10px;
  border-radius: 10px;
  margin: 1rem auto;
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(45deg, #17001a, #1a0000, #17001a, #1a0000);
}

.download-button {
  margin: 1rem auto;
  width: 50%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: none;
  align-items: center;
  justify-content: center;
}
button {
  color: inherit;
  cursor: pointer;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.1);
}
button:hover {
  background: rgba(0, 0, 0, 0.3);
}
form {
  width: 50%;
  padding: 1rem;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin: auto;
}
form input {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 10px;
  margin: 0.6rem auto;
  color: #ffffff;
}
.cardtype {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
.cardtype select {
  color: #ffffff;
  width: 100%;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.cardtype select > option {
  color: #ffffff;
  font-weight: bolder;
  background-color: #000024;
  cursor: pointer;
}

.submit {
  border-radius: 10px;
  width: 100%;
  margin: 0.6rem auto;
  background-color: #ccabab;
  outline: none;
  color: #1a0000;
  border: none;
}
.submit:hover {
  background-color: antiquewhite;
}
.card {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  width: 50%;
  height: 250px;
  border-radius: 20px;
  margin: 1rem auto;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  padding: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
}
#masterCard,
#visaCard {
  display: none;
}
.card:hover {
  /* transform: scale(1.07); */
}
.card i {
  font-size: 3rem;
}
.card img {
  width: 60px;
}
.details {
  /* font-family: "Playfair Display", serif; */
  margin: 2.4rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.details p {
  margin: 0.2rem 0;
  color: transparent;
  background-color: silver;
  text-shadow: rgba(17, 0, 0, 0.5) 1px 2px 1px;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.cardName {
  font-size: 0.9rem;
}
#cardNumber {
  width: 100%;
  text-align: center;
  letter-spacing: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.chip {
  transform: rotate(90deg);
}


/* Responsiveness */
@media (max-width: 1075px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 923px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 820px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 711px) {
  form,
  .card,
  .download-button {
    width: 60%;
  }
  .card img {
    width: 50px;
  }
  .card{
      height: 200px;
  }
  .card i {
  font-size: 2rem;

}
}
@media (max-width: 623px) {
  form,
  .card,
  .download-button {
    width: 70%;
  }
  body {
    font-size: 16px;
  }
}
@media (max-width: 537px) {
  form,
  .card,
  .download-button {
    width: 80%;
  }
  body {
    font-size: 15px;
  }.card img {
  width: 40px;
}
}
@media (max-width: 420px) {
  form,
  .card,
  .download-button {
    width: 90%;
  }
}
@media (max-width: 374px) {
  form,
  .card,
  .download-button {
    width: 100%;
  }
  body{
      font-size: 14px;
  }
}
@media (max-width: 320px) {
  .details p{
      font-size: .8rem;
  }
}
